@use 'sass:color';
@use 'sass:map';

$colors: (
    0: #7b7c7c,
    1: #e75050,
    2: #33953b,
    3: #3d6fdc,
    4: #fa86bc,
    5: #ff9634,
    6: #0dcfbe,
    7: #b24df1,
);

$on-dark: #fff;

$red: map.get($colors, 1);
$green: map.get($colors, 2);

$yellow: #ffce54;

$on-light: #0e1d27;

header {
    padding: 1rem 2rem;
    display: flex;
    place-items: center;
    justify-content: space-between;

    div {
        display: flex;
        gap: 1rem;
    }
    
    button {
        aspect-ratio: 1/1;
        transition: color 200ms;
        cursor: pointer;
        background: none;
        border: none;
        height: 32px;
        
        &:hover {
            color: $red;
        }
    }
}

.daily-grid,
.daily-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 2rem;
}

a {
    color: $on-dark;
    text-transform: none;
}

.daily-grid {
    .daily {
        z-index: 3;
        aspect-ratio: 1/1;
        padding: 0.5rem;
        text-align: center;
        place-items: center;
        width: 100%;
        flex-direction: column;
        border-radius: 0.5rem;

        &[daily-complete="true"]>.daily-check {
            display: flex;
        }
        
        .daily-check {
            display: none;
            position: absolute;
            z-index: -3;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            place-items: center;
            opacity: 0.33;

            svg {
                height: 100%;
                width: 100%;
            }
        }

        svg {
            margin: auto;
        }
    }
}

.daily-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;

    .daily {
        display: grid;
        text-align: left;
        grid-template-columns: 1fr 6fr 1fr;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        gap: 0.25rem;
        place-items: center;

        .daily-check {
            display: none;
        }

        p {
            width: 100%;
        }

        a, button {
            height: 24px;
        }
    }
}

.daily {
    position: relative;
    font-size: 1.25rem;
    display: flex;
    color: $on-dark;
    transition: background-color 200ms;
    cursor: pointer;

    .daily-actions {
        justify-self: flex-end;
        display: flex;
        gap: 0.25rem;
        
        button {
            background: none;
            outline: none;
            border: none;
            transition: color 200ms;
            cursor: pointer;
        }
    }
}


.add-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $on-dark;
    z-index: 6;

    .add-modal-content {
        padding: 1rem 2rem;

        &, &>div {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            &.actions {
                flex-direction: row;
                gap: 1rem;
            }
        }

        gap: 2rem;
    }

    .actions {
        button {
            $color: $red;

            margin: auto;
            background: $color;
            color: $on-dark;
            border-radius: 0.125rem;
            border: none;

            div {
                width: 100%;
                display: flex;
                gap: 0.5rem;
                place-items: center;
                padding: 1rem;
            }
            
            &:disabled {
                background: color.adjust($color, $lightness: 25%, $saturation: -5%);
            }

            &:not(:disabled) {
                cursor: pointer;

                &:hover {
                    background: color.adjust($color, $lightness: 5%);
                }
                &:active {
                    background: color.adjust($color, $lightness: -5%);
                }
            }

            &[type="submit"] {
                $submit-color: $green;
                background: $submit-color;

                &:disabled {
                    background: color.adjust($submit-color, $lightness: 25%, $saturation: -5%);
                }

                &:not(:disabled) {
                    &:hover {
                        background: color.adjust($submit-color, $lightness: 5%);
                    }
                    &:active {
                        background: color.adjust($submit-color, $lightness: -5%);
                    }
                }
            }
        }
    }
}

.text-input {
    display: flex;
    gap: 0.125rem;
    
    input {
        border: 0;
        outline: 0;
        padding: 0.25rem;
        border-bottom: 1px solid #ccc;
        transition: border 200ms;
        background: transparent;

        &:focus {
            border-bottom: 1px solid $on-light;
        }
    }

    label {
        text-transform: capitalize;

        &[data-required="true"]::after {
            content: "*";
            color: $red;
        }
    }
}

.select-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    width: min-content;
    margin: auto;

    button {
        aspect-ratio: 1/1;
        height: 3rem;
        cursor: pointer;
        border: none;
        border-radius: 0.125rem;
    }

    [data-selected="true"] {
        border: none;
        outline: 4px solid $yellow;
    }
    
    &.color-select {
        [data-selected="true"] {
            fill: $on-dark;
        }
    }

    &.icon-select {
        [data-selected="true"] {
            background: $yellow;
        }
    }
}


@each $enum, $color in $colors {
    [daily-color="#{$enum}"] {
        background-color: $color;
        border: 4px solid color.change($color, $alpha: 0.33);

        &:hover {
            background: color.adjust($color, $lightness: 5%);
        }
        &:active {
            background: color.adjust($color, $lightness: -5%);
        }

        .daily-actions {
            button, a {
                color: $on-dark;
                &:hover {
                    color: color.adjust($on-dark, $lightness: 5%);
                }
                &:active {
                    color: color.adjust($on-dark, $lightness: -15%);
                }
            }
        }

        &[daily-complete="true"] {
            color: $color;
            background: transparent;
    
            &:hover {
                background: transparent;
                color: color.adjust($color, $lightness: 5%);
            }
            &:active {
                background: transparent;
                color: color.adjust($color, $lightness: -5%);
            }
    
            .daily-actions {
                button, a {
                    color: $color;
                    &:hover {
                        color: color.adjust($color, $lightness: 5%);
                    }
                    &:active {
                        color: color.adjust($color, $lightness: -15%);
                    }
                }
            }
        }
    }
}
