@use 'sass:color';
@use 'sass:map';

$dark-red: #972a61;
$red: #fe5e48;
$orange: #ff9634;
$pink: #fa86bc;
$purple: #b24df1;
$blue: #3d6fdc;
$teal: #0dcfbe;
$green: #33953b;
$grey: #8d9696;
$black: #2c3649;

$yellow: #ffce54;

$colors: (
    0: $dark-red, // DeepRed
    1: $red, // Red
    2: $orange, // Orange
    3: $pink, // Pink
    4: $purple, // Purple
    5: $blue, // Blue
    6: $teal, // Teal
    7: $green, // Green
    8: $grey, // Grey
    9: $black, // Black
);


$on-dark: #fff;
$on-light: $black;

.modal-wrapper > header > button:hover {
    color: $red;
}

header {
    padding: 1rem 2rem 0rem;
    display: flex;
    place-items: center;
    justify-content: space-between;

    div {
        display: flex;
        gap: 1rem;
    }
    
    button {
        aspect-ratio: 1/1;
        transition: color 200ms;
        cursor: pointer;
        background: none;
        border: none;
        height: 32px;
        color: $black;

        &:hover {
            color: $teal;
        }
    }
}

.daily-grid,
.daily-list {
    display: grid;
    gap: 1rem;
    --columns: 2;

    @media (min-width: 600px) {
        --columns: 3;
    }
    @media (min-width: 850px) {
        --columns: 4;
    }
    @media (min-width: 1100px) {
        --columns: 6;
    }

    grid-template-columns: repeat(var(--columns), 1fr);

    padding: 1rem 2rem 0rem;
}

a {
    color: $on-dark;
    text-transform: none;
}

.daily-grid {
    .daily {
        z-index: 3;
        aspect-ratio: 1/1;
        padding: 0.5rem;
        text-align: center;
        place-items: center;
        width: 100%;
        flex-direction: column;
        border-radius: 0.5rem;

        &[daily-complete="true"]>.daily-check {
            display: flex;
        }
        
        .daily-check {
            display: none;
            position: absolute;
            z-index: -3;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            place-items: center;
            opacity: 0.33;

            svg {
                height: 100%;
                width: 100%;
            }
        }

        svg {
            margin: auto;
        }
    }
}

.daily-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;

    .daily {
        display: grid;
        text-align: left;
        grid-template-columns: 1fr 6fr 1fr;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        gap: 0.25rem;
        place-items: center;


        .daily-drag-handle {
            position: absolute;
            left: 0;

        }

        @media (min-width: 600px) {
            margin: 0 auto;
            max-width: 60%;
        }
        
        .daily-check {
            display: none;
        }

        p {
            width: 100%;
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        a, button {
            height: 24px;
        }
    }
}

.daily {
    position: relative;
    font-size: 1.25rem;
    display: flex;
    color: $on-dark;
    transition: background-color 200ms;
    cursor: pointer;

    .daily-actions {
        justify-self: flex-end;
        display: flex;
        gap: 0.25rem;
        
        button {
            background: none;
            outline: none;
            border: none;
            transition: color 200ms;
            cursor: pointer;
        }

        &[daily-edit-mode="false"] {
            visibility: hidden;
        }
    }
}


.add-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $on-dark;
    z-index: 6;

    .add-modal-content {
        padding: 1rem 2rem;

        &, &>div {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            &.actions {
                flex-direction: row;
                gap: 1rem;
            }
        }

        gap: 1.5rem;
    }

    .actions {
        button {
            $color: $red;

            margin: auto;
            background: $color;
            color: $on-dark;
            border-radius: 0.125rem;
            border: none;

            div {
                width: 100%;
                display: flex;
                gap: 0.5rem;
                place-items: center;
                padding: 1rem;
            }
            
            &:disabled {
                background: color.adjust($color, $lightness: 25%, $saturation: -5%);
            }

            &:not(:disabled) {
                cursor: pointer;

                &:hover {
                    background: color.adjust($color, $lightness: 5%);
                }
                &:active {
                    background: color.adjust($color, $lightness: -5%);
                }
            }

            &[type="submit"] {
                $submit-color: $green;
                background: $submit-color;

                &:disabled {
                    background: color.adjust($submit-color, $lightness: 25%, $saturation: -5%);
                }

                &:not(:disabled) {
                    &:hover {
                        background: color.adjust($submit-color, $lightness: 5%);
                    }
                    &:active {
                        background: color.adjust($submit-color, $lightness: -5%);
                    }
                }
            }
        }
    }
}

.text-input {
    display: flex;
    gap: 0.125rem;
    
    input {
        border: 0;
        outline: 0;
        padding: 0.25rem;
        border-bottom: 1px solid #ccc;
        transition: border 200ms;
        background: transparent;

        &:focus {
            border-bottom: 1px solid $on-light;
        }
    }

    label {
        text-transform: capitalize;
        &[data-required="true"]::after {
            content: "*";
            color: $red;
        }
    }
}

.no-daily-message {
    height: 100%;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-wrap: balance;

    svg {
        width: 100%;
    }
    width: 60%;
    margin: auto;
}

.select-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 100%;
    width: min-content;
    margin: auto;

    button {
        aspect-ratio: 1/1;
        height: 3rem;
        cursor: pointer;
        border: none;
        border-radius: 0.125rem;
    }

    [data-selected="true"] {
        border: none;
        outline: 4px solid $yellow;
    }
    
    &.color-select {
        [data-selected="true"] {
            fill: $on-dark;
        }
    }

    &.icon-select {
        [data-selected="true"] {
            background: $yellow;
        }
    }
}

@each $enum, $color in $colors {
    [daily-color="#{$enum}"] {
        background-color: $color;
        border: 4px solid color.change($color, $alpha: 0.33);

        &:hover {
            background: color.adjust($color, $lightness: 5%);
        }
        &:active {
            background: color.adjust($color, $lightness: -5%);
        }

        .daily-actions {
            button, a {
                color: $on-dark;
                &:hover {
                    color: color.adjust($on-dark, $lightness: 5%);
                }
                &:active {
                    color: color.adjust($on-dark, $lightness: -15%);
                }
            }
        }

        &[daily-complete="true"] {
            color: $color;
            background: transparent;
    
            &:hover {
                background: transparent;
                color: color.adjust($color, $lightness: 5%);
            }
            &:active {
                background: transparent;
                color: color.adjust($color, $lightness: -5%);
            }
    
            .daily-actions {
                button, a {
                    color: $color;
                    &:hover {
                        color: color.adjust($color, $lightness: 5%);
                    }
                    &:active {
                        color: color.adjust($color, $lightness: -15%);
                    }
                }
            }
        }
    }
}
